<!-- BACKDROP -->
<table cellpadding="0" width="100%" style="background: rgb(54,182,232)">
<tr><td>

<br/>
<!-- containing table -->
<table cellpadding="0" width="680" align="center" style="border-collapse:collapse; font-size:14px; font-family:Myriad,sans-serif; background:white; width:680px; margin:auto; text-align:left; -moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px;">







<tr><!-- iPad image -->
<td align="center">
<img src="http://www.facets.org/images/constantcontact/facets-kids-ipad.jpg" width="500" height="374" alt="image of iPad app">
</td>
</tr><!-- end iPad image -->




<tr> <!-- copy-->
<td>
<!-- embedded table -->
<table cellpadding="35" border="0" width="680">
<tr>
<td>
<h2>Your Gift? One Year of Movies!</h2>
<p>Dear [A. recipient's name],</p>

<p>[B. giver's name] has given you a year-long membership to Facets Kids, starting when you activate your account on your iPad.</p>

<p><strong>Message:</strong> [C. giver's message]</p>

<p><strong>Activate at:</strong> <a href="http://www.facetskids.facets.org/gift" target="_blank"><font color="#ff0000">facetskids.facets.org/gift</font></a></p>

<p><strong>Enter this code:</strong> [D. unique code]</p>

<p>Facets Kids is a new movie streaming app for kids, presenting unique independent films from around the world. The app allows kids to watch and respond to films specially curated by the experts who bring you the annual Chicago International Children's Film Festival. Currently the app is only available for the iPad. If you don't have access to an iPad, visit <a href="http://facetskids.facets.org/app" target="_blank"><font color="#ff0000">facetskids.facets.org/app</font></a> and we will notify you when Facets Kids is available for your device(s). You can wait to activate your account at that time.</p>

<p>For Gift Membership Terms, visit <a href="http://facetskids.facets.org/content/terms" target="_blank"><font color="#ff0000">facetskids.facets.org/content/terms</font></a>.</p>

</p>
</td>
</tr>
</table>
</td></tr>


</table>
<br/><br/>









<!-- CLOSES BACKDROP -->
</td></tr></table>
<br/><br/><br/>


</body>
</html>