<!doctype html>
<html ng-app="plunker">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
    <!--script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script-->
    <script src="rating.js"></script>
    <script src="example.js"></script>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
    <link href="rating.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="RatingDemoCtrl" class="well well-small">
    <h4>Default</h4>
    <rating value="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" state-on="'entypo-star'" state-off="'entypo-star-empty'"></rating>
    <rating value="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
    <span class="badge" ng-class="{'badge-warning': percent<30, 'badge-info': percent>=30 && percent<70, 'badge-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

    <pre style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>

    <button class="btn btn-small btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
    <button class="btn btn-small" ng-click="isReadonly = ! isReadonly">Toggle Readonly</button>
    <hr />


    <span style="font-family: entypo; font-size: 6em;">&#9734;</span>
    <span style="font-family: entypo; font-size: 6em; color: black;">&#9733;</span>
    <span style="font-family: entypo; font-size: 6em; color: gold;">&#9733;</span>
    <br/>
    <span class="entypo-star" style="color: red;"></span>
    <span class="entypo-star-empty"></span>
</div>

  </body>
</html>

