<!DOCTYPE HTML>
<html lang="en-US" ng-app="facetsKidsApp">
    <head>
      <title>FacetsKids</title>

      <meta http-equiv="x-ua-compatible" content="IE=edge" />
      <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-touch-fullscreen" content="yes">

      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="snap.css" />
      <link rel="stylesheet" type="text/css" href="app.css" />

      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
      <script type="text/javascript" src="http://code.angularjs.org/1.2.0/angular-resource.js"></script>
      <script type="text/javascript" src="jquery.iosslider.js"></script>
      <script type="text/javascript" src="app.js"></script>
      <!--script type="text/javascript" src="angular.common.js"></script-->
 
    </head>

    <body ng-controller="MainCtrl">
      <div class="snap-drawers">
          <div>
              <div class="detailContainer"> 
                 {{result.selected_video.name}}
                 {{result.selected_video.video_url}}
              </div>
          </div>
          <div class="snap-drawer snap-drawer-right"></div>
      </div>
      
      <div id="content" class="snap-content">
        <div class="navContainer">
          <div>
            <a href="" ng-click="result.selected_emotion = 'happy'"><img src="happy.1.svg" class="svg"></a>
          </div>
          <div>
            <a href="" ng-click="result.selected_emotion = 'excited'"><img src="excited.1.svg" class="svg"></a>
          </div>
          <div>
            <a href="" ng-click="result.selected_emotion = 'scared'"><img src="scared.1.svg" class="svg"></a>
          </div>
          <div>
            <a href="" ng-click="result.selected_emotion = 'think'"><img src="think.1.svg" class="svg"></a>
          </div>
          <div>
            <a href="" ng-click="result.selected_emotion = 'laugh'"><img src="laugh.1.svg" class="svg"></a>
          </div>
          <div>
            <a href="" ng-click="result.selected_emotion = 'care'"><img src="care.1.svg" class="svg"></a>
          </div>
        </div>

        <!--div id="wrapper" class="imageContainer">
          <div ng-repeat="video in result.videos">
            <a href="" onclick="videoPlayer('{{video.video_url}}');" ng-click="result.selected_video = video"><img ng-src="{{video.thumbnails[0]}}"/></a>
            <span class="title">{{video.name}}<span class="info">=</span></span>
          </div>
        </div-->

        <div class="iosSlider" iosslider>
          <div class="slider">  
            <div class="slide" slide ng-repeat="video in result.videos[result.selected_emotion]">
              <img ng-src="{{video.thumbnails[0]}}">
              <a href="" onclick="snapper.open('left');" ng-click="result.selectVideo(video);"><strong>{{video.name}}</strong></a>
            </div>
          </div>
        </div>

        <div ng-repeat="tag in result.curated_tag_list">
          <div class="iosSlider" iosslider>
            <div class="slider">  
              <div class="slide" slide ng-repeat="video in result.videos[tag]">
                <img ng-src="{{video.thumbnails[0]}}">
                <a href="" onclick="snapper.open('left');" ng-click="result.selectVideo(video);"><strong>{{video.name}}</strong></a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div style="position: absolute; left: -2000px;">
        <video id="myVideo" controls="false" preload="false" width="634" height="264">
        </video>
      </div>

      <script type="text/javascript">
        var currentTime = 0;

        function videoPlayer(url) {
          console.log(url);
          //return function() {
            $('video').get(0).src = url;
            $('video').get(0).load();
          //};
        };

        $(function(){
          var myVideo = $('video').get(0);
          console.log(myVideo);

          myVideo.addEventListener('progress', function() {
            //not applicable to hls video
            console.log("progress");
            console.log(this.buffered.end(0));
            //var endBuf = this.buffered.end(0);
            //console.log(this.duration);
            //var soFar = parseInt(((endBuf / this.duration) * 100));
            //console.log(soFar);
            //document.getElementById("loadStatus").innerHTML =  soFar + '%';
          }, false);

          myVideo.addEventListener('canplaythrough', function() {
            console.log("canplaythrough");
          }, false);

          myVideo.addEventListener('loadedmetadata', function() {
            console.log("loadedmetadata");
            console.log(this.duration);
          }, false);
          myVideo.addEventListener('loadeddata', function() {
            console.log("loadeddata");
            this.currentTime = currentTime;
            this.webkitEnterFullscreen();
          }, false);

          myVideo.addEventListener("timeupdate", function() {
            currentTime = this.currentTime;
          }, false);

          myVideo.addEventListener('webkitbeginfullscreen', function() {
            console.log("webkitbeginfullscreen");
            this.play();
          }, false);
          myVideo.addEventListener('webkitendfullscreen', function() {
            console.log("webkitendfullscreen");
          }, false);
          myVideo.addEventListener('error', function() {
            console.log("error");
          }, false);
        });

      </script>

      <script type="text/javascript" src="snap.js"></script>
      <script type="text/javascript">
        var snapper = new Snap({
          element: document.getElementById('content'),
          maxPosition: 306,
          disable: 'right',
          touchToDrag: false,
          hyperextensible: false
        });
      </script>
      <script type="text/javascript" src="app.js"></script>

      <script type="text/javascript">
        $('.imageContainer img').on("click", function() {
          snapper.open('left');
        }); 

        /*
         * Replace all SVG images with inline SVG
         */
        $('img.svg').each(function(){
            var $img = jQuery(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');

            jQuery.get(imgURL, function(data) {
              // Get the SVG tag, ignore the rest
              var $svg = jQuery(data).find('svg');

              // Add replaced image's ID to the new SVG
              if(typeof imgID !== 'undefined') {
                 $svg = $svg.attr('id', imgID);
              }
              // Add replaced image's classes to the new SVG
              if(typeof imgClass !== 'undefined') {
                  $svg = $svg.attr('class', imgClass+' replaced-svg');
              }

              // Remove any invalid XML tags as per http://validator.w3.org
              $svg = $svg.removeAttr('xmlns:a');

              // Replace image with new SVG
              $img.replaceWith($svg);
            }, 'xml');
        });
      </script>

    </body>
</html>

