

<script>
  function Ctrl($scope) {
    $scope.check = window.navigator.standalone ? 1 : 0;
  }
</script>

<div ng-app ng-controller="Ctrl">

  <% unless @redeem_view %>

    <%= render "devise/shared/session" %>

  <% else %>

    <%= render "devise/shared/session_giftcard_redeem" %>

  <% end %>

</div>
