
      <div class="snap-drawers">
          <div>
              <div class="detailContainer">
                 <img ng-src="{{result.selected_video.thumbnails[0]}}" style="width: 288px; height: 215px; margin: 5px 9px 0px 9px;"/>
                 <div class="hilight">
                   {{result.selected_video.name}}
                 </div>
                 {{result.selected_video.description}}
              </div>
          </div>
          <div class="snap-drawer snap-drawer-right"></div>
      </div>
      
      <div id="content" class="snap-content iosSliderVertical" iosvslider>
        <!--div class="iosSliderVertical" iosvslider-->
        <div class='slider'>

          <!--div ng-repeat="tag in result.selected_tags"-->
          <!--div class='slide' vslide ng-if="result.selected_emotion=='home'"-->
          <!--div class='slide' vslide-->
          <!--div class="slide"-->

          <div ng-if="result.selected_emotion=='home'">
            <div ng-repeat="tag in result.curated_tag_list"  ng-class-odd="'iosSliderColorOdd'" ng-class-even="'iosSliderColorEven'">

          <div class="slide" vslide>
              <div class="listTitle">{{tag.label}}</div>
              <div class="iosSlider" iosslider data-snap-ignore="true">
                <div class="slider">  
                  <div class="slide" slide ng-repeat="video in result.videos[tag.name]">
                    <img ng-src="{{video.thumbnails[0]}}">
                    <a href="" onclick="snapper.open('left');" ng-click="result.selectVideo(video);"><span class="movieTitle">{{video.name}}</span></a>
                  </div>
                </div>
              </div>
          </div>
            </div>
          </div>

          <!--/div-->

          <!--div class="slide" vslide ng-if="result.selected_emotion!='home'"-->
          <!--div class="slide" vslide-->
          <div ng-if="result.selected_emotion!='home'">

            <div class="slide" vslide>
            <div id="wrapper" class="imageContainer">
              <ul class="thumbnails">
                <li class="span3" ng-repeat="video in result.videos[result.selected_emotion]">
                  <div class="thumbnail" data-snap-ignore="true">
                    <a href="" ng-click="result.selectVideo(video); videoPlayer('{{video.video_url}}');"><img ng-src="{{video.thumbnails[0]}}"/></a>
                    <a href="" onclick="snapper.open('left');" ng-click="result.selectVideo(video);"><span class="movieTitle">{{video.name}}</span></a>
                  </div>
                </li>
              </ul>
            </div>
            </div>
          </div>

          <!--/div-->
        </div>
        <!--/div-->
      </div>

    <div style="position: absolute; left: -2000px;">
      <video id="myVideo" controls="false" preload="false" width="634" height="264">
      </video>
    </div>

      <script type="text/javascript">
        var snapper = new Snap({
          element: document.getElementById('content'),
          maxPosition: 306,
          disable: 'right',
          touchToDrag: true,
          hyperextensible: false
        });

        $('.imageContainer img').on("click", function() {
          snapper.open('left');
        }); 


        $(document).ready(function() {
          console.log("document ready - previous constructor");
         /* 
          $('.iosSliderVertical').iosSliderVertical({
            elasticPullResistance: 0.9,
            slideStartVelocityThreshold: 5,
          });
          */
        });

        $(document).bind('touchmove', function(e) {
          e.preventDefault();
        });

        $(function() {
          FastClick.attach(document.body);
        });
      </script>

      <script type="text/javascript">
        /*
         * Replace all SVG images with inline SVG
         */
        $('img.svg').each(function(){
            var $img = jQuery(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');
            var imgStyle = $img.attr('style');

            jQuery.get(imgURL, function(data) {
              // Get the SVG tag, ignore the rest
              var $svg = jQuery(data).find('svg');

              // Add replaced image's ID to the new SVG
              if(typeof imgID !== 'undefined') {
                $svg = $svg.attr('id', imgID);
              }
              // Add replaced image's classes to the new SVG
              if(typeof imgClass !== 'undefined') {
                $svg = $svg.attr('class', imgClass+' replaced-svg');
              }
              if (typeof imgStyle !== 'undefined') {
                $svg = $svg.attr('style', imgStyle);
              }

              // Remove any invalid XML tags as per http://validator.w3.org
              $svg = $svg.removeAttr('xmlns:a');

              // Replace image with new SVG
              $img.replaceWith($svg);
            }, 'xml');
        });
      </script>

