<style>
  .step {
    font-family: "lato";
    font-weight: bold;
    font-size: 14pt;
    color: white;
  }
  .instruction {
    font-family: "lato";
    font-size: 10pt;
    color: white;
  }
  h4 {
    color: white;
  }
</style>

<div class="well" style="background-color: #028abc; margin-top: 145px; border: none;">

  <div style="padding: 0px 0px 40px 40px;">
    <h4>The Facets Kids alpha is available only on the iPad.<br/>What if I don't have an iPad?</h4>
    <div class="instruction">
      In order to provide the best possible experience, we are rolling out Facets Kids to different devices over time. The alpha version of the Facets<br/>
      Kids app (available through February 2014) is an iPad-only app. If you have a different device and are interested in Facets Kids, please fill out<br/>
      the form below and we will notify you when Facets Kids is available for your device(s).
    </div>
  </div>

</div>

<div class="row">
  <%= simple_form_for(@user, :as => :user, :url => update_devices_path(:user), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>

  <div class="offset1 span6">
    <% if current_user.nil? %>
      <%= f.input :email, :required => true, :placeholder => "Email", :autofocus => true %>
    <% end %>
    <%= f.association :devices, label_method: :name, as: :check_boxes, input_html: { :data => {:toggle => 'checkbox'} } %>
    <%= f.button :submit, "Email me when my devices are supported", :class => "btn-primary" %>
  </div>
  <% end %>
</div>


