<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Request received at <%= @inviterequest.received_at %></h1>
    <p>
      <%= @inviterequest.email %>
    </p>
  </body>
</html>
