/*
 *= require snap
 *= require rating
 *= require fontello
 *= require_self
*/

@font-face {
    font-family: 'varela_roundregular';
    src: asset-url('varelaround-regular-webfont.eot');
    src: asset-url('varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('varelaround-regular-webfont.woff') format('woff'),
         asset-url('varelaround-regular-webfont.ttf') format('truetype'),
         asset-url('varelaround-regular-webfont.svg#varela_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* Show "Left" drawer for the "Right" drawer in the demo */
.snapjs-right .snap-drawer-left {
	display: block;
	right: 0;
	left: auto;
}

/* Hide the actual "Right" drawer in the demo */
.snapjs-right .snap-drawer-right {
	display: none;
}

#content {
       /*background: #BFC7D8 url(drag.png) center 75% no-repeat;*/
       /*background: #BFC7D8;*/
}

/* Styles for fading out the drawer content in the "Expanding" demo */
.drawer-inner {
	-webkit-transition: opacity 0.3s ease; 
	   -moz-transition: opacity 0.3s ease; 
	    -ms-transition: opacity 0.3s ease; 
	     -o-transition: opacity 0.3s ease; 
	        transition: opacity 0.3s ease; 
}

.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
	opacity: 0;
}

/* Default demo styles */
.snap-content {
  padding-top: 120px;
}

.snap-drawers {
  padding-top: 120px;
}

.snap-drawer {
  color: #eee;
}


.navbar .nav > li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .nav > li.tag svg {
  width: 60px;
  height: 80px;
}

.navbar .nav > li.home svg {
  width: 160px;
  height: 80px;
}

.nav > li.home a.off svg {
  -webkit-filter: grayscale(1);
}

.nav > li.tag a.off svg path {
  fill: purple;
}

.nav > li.tag a.off svg text {
  fill: purple;
}

.nav a.on svg path {
  /*fill: #ec1f27;*/
  fill: #f9cb17;
}

.nav a.on svg text {
  /*fill: #ec1f27;*/
  fill: #f9cb17;
}



@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .imageContainer {
    position: relative;
    width: 985px;
    padding-left: 45px;
    padding-top: 5px;
    background: #27b7eb;
  }

  .iosSlider {
    width: 984px;
    margin-left: 40px;
  }

  .iosSliderVertical {
    width: 1024px;
    height: 515px;
  }

  .navbar .nav .logout {
    font-size: 1.5em; 
    padding-top: 20px;
  }
}

@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .imageContainer {
    position: relative;
    width: 729px;
    padding-left: 40px;
    padding-top: 5px;
  }

  .iosSlider {
    width: 729px;
    padding-left: 40px;
  }

  .iosSliderVertical {
    width: 768px;
    height: 756px;
  }

  .navbar .nav > li > a,
  .navbar .nav > li.dropdown > a,
  .navbar .nav > li > a:hover,
  .navbar .nav > li.dropdown > a:hover {
    background: none;
    padding: 0px 10px;
  }

  .navbar .nav .logout {
    font-size: 1.2em; 
    padding-top: 20px;
  }
}

.imageContainer > div {
  position: relative;
  display: inline-block;
  width: 229px;
  height: 202px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
}

.imageContainer img {
  width: 227px;
  height: 170px;
}

.imageContainer .hilight {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  height: 15px;
  width: 42px;
  font-family: 'Lato', sans-serif;
  font-size: 8pt;
  color: #FFF;
  /*bottom: 0px;*/
  padding: 0px 2px 0px 2px;
  top: 152px;
  left: 178px;
  z-index: 1;
}


.scroll-box {
  width: 225px;
  height: 1.2em;
  overflow: hidden;
  position: relative;
}
.scroll-text {
  position: absolute;
  white-space: nowrap;
}

.detailContainer {
  position: relative;
  background-color: white;
  width: 306px;
  height: 380px;
}
        
.ratingTitle {
  padding-left: 9px;
  font-weight: bold;
  background-color: white;
}

.ratingContainer {
  position: relative;
  background-color: white;
  width: 306px;
  height: 65px;
}

.tagTitle {
  padding-left: 9px;
  font-weight: bold;
  background-color: #526476;
  color: white;
}
 
.tagContainer {
  position: relative;
  background-color: #526476;
  width: 306px;
  height: 150px;
}

.tagContainer svg {
  width: 80px;
  height: 80px;
  padding: 0px 8px 0px 8px;
}
        
.tagContainer a.off svg path {
  fill: white;
}
.tagContainer a.on svg path {
  fill: #f9cb17;
}
 
.hilight {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  height: 30px;
  width: 278px;
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  color: #FFF;
  /*bottom: 0px;*/
  padding: 0px 5px 0px 5px;
  top: 205px;
  left: 9px;
  z-index: 1;
}

.detailContainer img {
  width: 288px; 
  height: 215px; 
  margin: 5px 9px 0px 9px;
  z-index: 1;
}

.thumbnail {
  border: none;
}

.scrollable {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

.listTitle {
  margin-left: 40px;
  padding-top: 3px; 
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 14pt;
}

.movieTitle {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 11pt;
    color: white;
}

.iosSlider {
    /* required */
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 200px;
}

.iosSliderColorOdd {
  background-color: #27b7eb;
}

.iosSliderColorEven {
  background-color: #028abc;
}

.iosSlider .slider {
    /* required */
    width: 100%;
    height: 100%;
}

.iosSlider .slider .slide {
    /* required */
    float: left;

    /* optional */
    width: 208px;
    height: 100%;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 7px;
    /*background: white;*/
    /*text-align: center;*/
    /*outline: 1px dashed #000;*/
}

.iosSlider .slider .slide img {
    display: block;
    width: 206px;
    height: 155px;
    /*margin: 10px auto;*/
}

.iosSlider .slider .slide .hilight {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  height: 15px;
  width: 42px;
  font-family: 'Lato', sans-serif;
  font-size: 8pt;
  color: #FFF;
  /*bottom: 0px;*/
  padding: 0px 2px 0px 2px;
  top: 145px;
  left: 160px;
  z-index: 1;
}


.iosSliderVertical {
    /* required */
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #27b7eb; 
}

.iosSliderVertical > .slider {
    /* required */
    width: 100%;
    height: 100%;
}

.iosSliderVertical > .slider > .slide {
    /* required */
    float: left;
    width: 1024px;
    height: 100%;
}


