/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.mobile
 *= require twitter/bootstrap
 *= require flatuipro/flatuipro.less
 *= require home
 *= require navbar
 *= require carousel
 *= require_self
*/

.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  background-color: transparent;
}

.spinner {
    width: 206px;
    height: 155px;
    background-image: url('http://pictures.reuters.com/ClientFiles/RTR/Images/ajax-loader.gif');
    background-size: contain;
    background-size: 37px 37px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.hide {
    opacity: 0;
}
