/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require twitter/bootstrap
 *= require flatuipro
 *= require login
 *= require home
 *= require navbar
 *= require carousel
 *= require_self
*/

.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  background-color: transparent;
}

.circle{
  width:25px;
  height:25px;
  border-radius:12px;
  /*font-size:20px;*/
  color:#fff;
  line-height:25px;
  text-align:center;
  background:#000;
}
