<% content_for :title, "About Facets" %>

<div class="row" style="padding-top: 20px;">

<div class="offset1 span10">

<h4>
About Facets
</h4>

<p>
<a href="http://www.facets.org">Facets Multi-Media</a>, founded in 1975, is a non-profit, 501(C)3 organization, and a leading national media arts organization. Our mission is to preserve, present, distribute, and educate about film.
</p>

<p> 
As the founder of the <a href="http://www.facets.org/kids">Chicago International Children’s Film Festival</a> (now in its 30th year) Facets has spent decades working with filmmakers and kids to discover the very best independent children’s movies from around the world. Now, with the Facets Kids streaming portal, those films will be available, not just during the Festival, but year-round and to children everywhere!
</p>

<p>
Giving kids access to global independent movies promotes creativity, engagement, and curiosity. Whereas mainstream movies are commercialized and constricted to a narrow set of roles and stories, our films open up whole new worlds to young pioneers. Facets Kids is a curated destination for parents and kids who care about different cultures and perspectives, as well as exceptional quality in media.
</p>

<p>
Facets Kids is designed to empower kids to actively explore, experience, craft, and respond to a treasure trove of films specially selected to inspire them to become the creators of tomorrow. The alpha version includes over 300 films from around the world, and those numbers will continue to grow as we build towards our full launch in 2014.
</p>

<p>
Facets Kids taps into emotional frameworks to promote social-emotional growth as kids watch and respond to films. Content is personalized to be age-appropriate to the individual child. Our films expose kids to diverse viewpoints and ways of life, encouraging them to become open-minded global citizens.
</p>

<p>
<a href="/users/sign_up">Sign up now</a> and give Facets Kids a whirl. Together we’ll show the world what independent film can do for our kids.
</p>

</div>
</div>
