
<div style="padding-top: 20px;">

<div class="row">
  <div class="offset1 span8">
    <h3>You have become a Pioneer!</h3>
    <p>
    Congratulations! You have successfully created a Facets Kids account, which gives you access to our growing library of hundreds of films directly on your iPad.
    </p>
    <p>
    You'll receive an email shortly with instructions to add the Facets Kids app to your iPad and start exploring.
    </p>
  </div>
</div>


<%= render "layouts/share_with" %>


</div>

