
<div class="row" style="padding-top: 120px;">

<div class="offset1 span10">

<h4>
Frequently Asked Questions
</h4>

<div style="padding-top: 20px;"></div>

<p><i>What is special about Facets Kids?</i></p>
<p>
There are many ways for kids to watch content online. What Facets Kids brings to the table is a safe structure, a global perspective, rigorous age-appropriate vetting, social-emotional research, and quality fun films that have been approved by juries of kids and film professionals. With Facets Kids, children explore the world through film and discover their own potential.
</p>

<p><i>Why independent and international films?</i></p>
<p>
Kids consume over 2000 hours of media each year. We see every hour as an opportunity to inspire the creators of tomorrow. Giving kids access to global independent movies promotes creativity, engagement, and curiosity. Whereas mainstream movies are commercialized and constricted to a narrow set of roles and stories, our films open up whole new worlds to young pioneers. Kids discover other countries and people, but most importantly, they discover themselves.
</p>

<p><i>What will Facets Kids do for my child?</i></p>
<p>
Your child will have access to our library of 300 kids films from around the worlds. This library is rapidly growing and includes content from the Chicago International Children's Films Festival. These are films that you will not find anywhere else. Many are films that have won prestigious prizes at international festivals. Joining Facets Kids is an investment in a child's future. We engage kids with fun, meaningful films which act as a bridge to positive growth and learning.
</p>

<p><i>Where do the movies on Facets Kids come from?</i></p>
<p>
We have scoured the world to find the most creative films for kids: shorts and features, animation and live-action, fiction and documentary - powerful stories in which kids are the central characters. We partner with independent producers from around the globe who have been selected by juries for inclusion in the annual Chicago International Children's Films Festival, now in its 30th year.
</p>

<p><i>How is Facets Kids different than other streaming services?</i></p>
<p>
Facets Kids is designed to empower kids to actively explore, experience, and respond to independent films. Our content and browsing frameworks expose children to diverse social-emotional perspectives.
</p>

<p><i>Who should use Facets Kids?</i></p>
<p>
Facets Kids is intended for children ranging from pre-school to pre-teen. Specific age recommendations are designated for each film. At present, the Facets Kids streaming platform is only available for use in North America. The alpha version is only available for iPad.
</p>

<p><i>Is all the content age appropriate?</i></p>
<p>
Facets Kids is a safe, secure streaming portal that delivers age-appropriate, engaging content. Using over 30 years of experience at the Chicago International Children's Film Festival, we tested each film with teams of programmers, educators and thousands of children. Each film is carefully vetted for age-appropriateness. For the youngest viewers, let their first movie experiences be great ones with positive stories that inspire.
</p>

<p><i>Does Facets Kids respect my child's privacy?</i></p>
<p>
Facets Kids fully complies with Apple App Store guidelines of Kids Apps as well as COPPA guidelines. Facets Kids does not include behavioral advertising, and any contextual ads presented on Facets Kids will be appropriate for kids. Facets Kids requires that kids under 13 must get parental permission or pass a parental gate before allowing the user to link out of the app or engage in commerce. Please refer to our <%= link_to "Privacy Policy", content_privacy_path %> for more information.
</p>

<p><i>Can smart movies make my child smarter?</i></p>
<p>
Through value-affirming, imaginative films, children learn to trust their imagination and creativity in order to express their ideas and develop independence and self-reliance. Watch your child's mind come alive as they watch brilliant films that spark the imagination—stories in which kids work together to solve problems to create a better world.
</p>

<p><i>Why become a Facets Kids pioneer?</i></p>
<p>
Like every new website, app, or software update, there are going to be bugs. By sharing your feedback with us, you'll be beta-testing a service for which there is no good alternative. We're charting new territory here, and we value your ideas.
</p>

<p><i>Why become a contributor?</i></p>
<p>
You will help us to develop the app, scale up to meet increased demand, and most importantly, your contribution is shared with the independent film producers whose content is enthralling your kids.
</p>

<p><i>How do I submit my film to Facets Kids?</i></p>
<p>
If you own the rights to a live-action, animated, short, or feature length film for kids, please contact facetskids@facets.org to inquire about our non-exclusive partnerships.
</p>

<p><i>Can kids submit films?</i></p>
<p>
Yes, young filmmakers are welcome! Join other young film creators at by submitting a film review or your own short film for possible inclusion on Facets Kids. Contact <a href="mailto:facetskids@facets.org">facetskids@facets.org</a> for details.
</p>

<p>
<a href="/users/sign_up">Sign up now</a> and give Facets Kids a whirl. Together we’ll show the world what independent film can do for our kids.
</p>

</div>
</div>
