<style>
  .step {
    font-family: "lato";
    font-weight: bold;
    font-size: 14pt;
    color: white;
  }
  .instruction {
    font-family: "lato";
    font-size: 10pt;
    color: white;
  }
  h4 {
    color: white;
  }
</style>

<div class="well" style="background-color: #028abc; border: none;">

  <div style="padding: 0px 0px 40px 40px;">
    <h4>The Facets Kids alpha is available only on the iPad.<br/>What if I don't have an iPad?</h4>
    <div class="instruction">
      In order to provide the best possible experience, we are rolling out Facets Kids to different devices over time. The alpha version<br/>
      of the Facets Kids app is an iPad-only app. If you have a different device and are interested in Facets Kids, please fill out<br/>
      the form below and we will notify you when Facets Kids is available for your device(s).
    </div>
  </div>

</div>

<%= render "layouts/device" %>

<br/><br/>
