<div class="row" style="padding-top: 120px;">

<div class="offset1 span10">

<h4>
PRIVACY POLICY
</h4>


<p><i>Information We Collect</i></p>
<p>
Facets Kids provides a forum for all family members, including children, to express their views about movies. While we encourage children to participate appropriately in Facets Kids, the privacy of children’s information is extremely important to us. This section of our Policy explains how we collect, use and disclose Personally Identifiable Information and other information from children under the age of 13. We store information that we collect through cookies, log files, and clear gifs to create a "profile" of your preferences. 
<p>

<p>
Personally identifiable information is used by Facets Kids in order to provide tailored services and to improve the content of the site for you. Non-personally identifiable information is used by Facets Kids and Facets Kids' advertising partners in order to increase the usage and relevance of the service. We use these technologies to help us recognize your or your child's browser as a previous user and save and remember any preferences that may have been set; to help us customize the content shown while you or your child use the services; to provide you or your child with content customized to your interests and to understand whether users read e-mail messages and click on links contained within those messages so that we can deliver relevant content and offers; and to help measure and research the effectiveness of our services, interactive online content, features, and other communications. 
<p>

<p>
We also collect parents' and guardians' billing address, email address, screen/username, geolocation, and a persistent identifier that can be used to recognize a user over time and across different sites. Children cannot explore Facets Kids and cannot view and print reviews, comments, ratings and other content without providing any Personally Identifiable Information. Facets Kids only collects Personally Identifiable Information about a child if the child registers to become a Member of our Site or submits a question or request to us. We may use information collected from children during the Site registration process in the following manner: We may use this information (such as screen name and password) to create and maintain the child’s account on our Site; We use the child’s birth month and year to determine the child’s current age and we post this age information next to any posted reviews or comments.
</p>

<p><i>Purpose of Information We Collect:</i></p>
<p>
-Fulfill your or your child's requests for services and information
-Enable you or your child to participate in interactive features, such as comment boxes and forums
-Display content and information that you may be interested in
-Customize the content displayed when you or your child use the Services
-Analyze use of the Services to understand and improve our service offerings, such as determining which pages are most popular, which browsers are most used, how long users spend on the Services, and which websites they come from
-Otherwise support the internal operations of the Services
-Prevent potentially prohibited or illegal activities and enforce the Terms of Use
-For any other purposes disclosed to you or your child at the time we collect the information or pursuant to your consent
-We may aggregate you or your child's information with information about other users so that it no longer identifies and cannot reasonably be used to identify an individual person.
</p>

<p><i>Parental Consent, Access, and Deletion:</i></p>
<p>
We endeavor to obtain a parent or legal guardian's consent before collecting, using, or disclosing personal information from children. Parents or legal guardians may contact us to ask if we have collected their child's personal account information, to review that information, if any, and request that Facets Kids stop collecting this information and have it deleted. Such requests are subject to Facets Kids verifying to our satisfaction that the requester is in fact the child's parent or legal guardian. You must be 18 years of age or older to subscribe to the Facets Kids service. While individuals under the age of 18 may utilize the service, they may do so only with the involvement, supervision, and approval of a parent or legal guardian, and subject to our Terms of Use. Additionally, the child may choose to write and post movie reviews. Children also may participate in other Site activities, such as posting comments on our articles, participating in surveys and polls, and participating in other online activities. 
</p>

<p><i>Responding to a Child’s Question or Request:</i></p>
<p>
If a child sends us a question or request, we may use the child’s email address or other Personally Identifiable Information provided by the child solely for purposes of responding to that one-time request. If a child registers to become a Member of our Site, we require the child to submit the following information: Screen name (the child is advised not to use his or her real name); Password; Birth month and year. We also require the child to provide a parent’s email address. We use the parent’s email address to notify the parent that his or her child has registered with our Site and we provide instructions on how the parent can request this new account to be removed from Facets Kids. If the parent so requests, we remove the account and delete all information collected from the kid. If we do not hear back from the parent [within 72 hours after the initial email notification], we will assume it acceptable for the child to be registered as a Member of Facets Kids.
</p>

<p><i>Protection of Information:</i></p>
<p>
We are committed to protecting your and your child's information. We have adopted reasonable technical, administrative, and physical procedures to help protect this information from loss, misuse, and alteration. Please note that no data transmission or storage can be guaranteed to be 100% secure. We want you to feel confident using the services but we cannot ensure or warrant the security of any information you or your child transmit to us. We strictly limit the information that is publicly viewable about a Member who is known to be a child under the age of 13. When a child under the age of 13 posts a review or comment on the Site, only the child’s age is posted on the Site, along with the content of the child’s posting. The child’s screen name is not posted with this submitted content on our Site. Although the child may create a profile for his or her account, no portion of the child’s profile other than the child’s age would be viewable except to Facets Kids’s employees and service providers or other agents.
</p>

<p><i>Who We Share Information With:</i></p>
<p>
Facets Kids will comply with demands made by law enforcement or other governmental officials, in response to a verified request relating to a criminal investigation.
</p>

<p>
Only NON-personally identifiable, group information may be shared with Facets Kids' partners.  We do not disclose any Personally Identifiable Information collected from children to any third parties other than (a) with a parent’s written permission, (b) as required by any applicable law, or (c) to our service providers and to law enforcement and similar third parties, as permitted by applicable law, for one or more of the purposes discussed above in How We Disclose Information Collected on the Site.
</p>
<p>
Facets Kids may use tools or third party analytical software to automatically collect and use certain non-personal data that does not directly enable Facets Kids to identify you. The types of non-personal data Facets Kids may collect and use include, but are not limited to: (i) device properties, including, but not limited to IP address, Media Access Control (“MAC”) address and unique device identifier or other persistent or non-persistent device identifier ("Device ID"); (ii) device software platform and firmware; (iii) mobile phone carrier; (iv) geographical data such as zip code, area code and coarse location; (v) other non-personal data as reasonably required by Facets Kids to enhance the service.
</p>
<p>
Facets Kids may use Google Analytics tool in order to develop and analyze use of the services. If you wish to opt-out from Google Analytics, please <a href="http://www.google.com/analytics/learn/privacy.html">click here</a>.
</p>

<p><i>Who We Do Not Share Information With:</i></p>
<p>
We absolutely do NOT share your personally identifiable information (email address, first or last name, etc.) with ANY third-party or partner unless you explicitly request that we do.
</p>

<p><i>Customer Service:</i></p>
<p>
If a parent has any questions or concerns about his or her child’s participation in Facets Kids, the parent is encouraged to contact us at facetskids@facets.org, or complete the form on the Contact Us page. Based upon the information you provide us, we will send you a welcome email to verify your username and password. We will also communicate with you in response to your inquiries, to provide the services you request, to manage your account and inform you of new services and features Facets Kids is offering. Any time that we email you, you will have the ability to opt out of all future communications.
</p>
<p>
Facets Kids will never ask for your login or personally identifiable information in emails, instant messages, or pop-ups. If you witness any of these possible scams, ignore them and inform us at facetskids@facets.org.
</p>
<p>
We take your privacy very seriously; if you feel Facets Kids is violating your privacy in any way, please contact us at facetskids@facets.org.
</p>

