
<div style="padding-top: 140px;">
<div class="row">
  <div class="offset1 span8">
    <h2>Thank you!</h2>
    <p>
    You have become a pioneer and your one-year free account has been created. 
    </p>
    <p>
    Your generous contribution will help Facets expand access to the best independent, global children's films.
    </p>
    <p>
    We will email you when the app goes live in mid-November!
    </p>
  </div>
</div>

<%= render "layouts/share_with" %>

</div>
