
<div style="padding-top: 20px;">
<div class="row">
  <div class="col-md-offset-1 col-md-8">
    <h2>Thank you!</h2>
    <p>
    You have become a pioneer and your one-year free account has been created. 
    </p>
    <p>
    Your generous contribution will help Facets expand access to the best independent, global children's films.
    </p>
    <p>
    You'll receive an email shortly with instructions to add the Facets Kids app to your iPad and start exploring.
    </p>
  </div>
</div>

<%= render "layouts/share_with" %>

</div>
