  <div class="bottom-menu" style="padding: 10px; margin-left: 25%; width: 50%;">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-6">
          <ul class="bottom-links">
            <li><a href="/content/faq">FAQs</a></li>
            <li><a href="/content/privacy">Privacy</a></li>
            <li><a href="/content/about">About Facets</a></li>
            <li><a href="<%= new_contact_path %>">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

